@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>

    Jacksonville, FL 32256<br />
    <abbr title="Phone">P:</abbr>
    201-682-5267
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:yanghang90620@gmail.com">yanghang90620@gmail.com</a><br />
</address>