@{
    ViewBag.Title = "Contact";
}


<div class="jumbotron">
    <address>
        Jacksonville, FL 32256<br />
        <abbr title="Phone">P:</abbr>
        201-682-5267
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:yanghang90620@gmail.com">yanghang90620@gmail.com</a><br />
    </address>
</div>
